@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    /* Old Reddit Colors */
    --background: 0 0% 10%; /* #1A1A1B */
    --foreground: 220 3% 85%; /* #D7DADC */

    --muted: 0 0% 10%; /* #1A1A1B */
    --muted-foreground: 220 2% 51%; /* #818384 */

    --popover: 0 0% 10%; /* #1A1A1B */
    --popover-foreground: 220 3% 85%; /* #D7DADC */

    --card: 0 0% 10%; /* #1A1A1B */
    --card-foreground: 220 3% 85%; /* #D7DADC */

    --border: 240 1% 21%; /* #343536 */
    --input: 240 1% 16%; /* #272729 */

    --primary: 220 3% 85%; /* #D7DADC */
    --primary-foreground: 0 0% 10%; /* #1A1A1B */

    --secondary: 240 1% 16%; /* #272729 */
    --secondary-foreground: 220 3% 85%; /* #D7DADC */

    --accent: 240 1% 16%; /* #272729 */
    --accent-foreground: 220 3% 85%; /* #D7DADC */

    --destructive: 0 63% 31%;
    --destructive-foreground: 220 3% 85%; /* #D7DADC */

    --ring: 240 1% 21%; /* #343536 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}